* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

p,
label,
button {
  text-align: justify;
  font-family: "lora", serif;
  font-weight: 400;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

li {
  font-family: "lora", serif;
  font-weight: 400;
  color: white;
}

h1 {
  font-size: 3.5rem;
}

img {
  object-fit: contain;
}

header {
  background: linear-gradient(90deg, #282552 0%, #3a4e86 35%, #276b8a 100%);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
}

@media (min-width: 375px) and (max-width: 768px) {
  header div img {
    display: none;
  }
  header nav {
    display: none;
  }
  header form {
    display: none;
  }
  header label {
    position: absolute;
    right: 15px;
  }
  header h1 {
    margin: 10px 0 10px 10px;
  }
  .navbar {
    padding: 0;
  }
  .header__hamburguesa {
    position: relative;
    top: auto;
    right: -30px;
    filter: drop-shadow(4px 4px 2px #282552);
  }
  .menu-desplegado {
    transition: 1s;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  header div img {
    width: 120px;
    height: 100px;
    margin: 10px 0 0 16px;
  }
  header label {
    display: none;
  }
  header h1 {
    margin: 10px 0 10px 10px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav ul li {
    margin: 0 1rem;
    font-size: 1.7rem;
  }
  .header__hamburguesa {
    display: none;
  }
  .menu-desplegado {
    display: none;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header div img {
    width: 120px;
    height: 100px;
    margin: 10px 0 0 16px;
  }
  header label {
    display: none;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  header nav ul li {
    margin: 0 2rem;
    font-size: 2.2rem;
  }
  header h1 {
    margin: 10px 0 10px 10px;
  }
  .header__hamburguesa {
    display: none;
  }
  .menu-desplegado {
    display: none;
  }
}
@media (min-width: 1201px) {
  header div img {
    width: 120px;
    height: 100px;
    margin: 10px 0 0 16px;
  }
  header label {
    display: none;
  }
  header h1 {
    margin: 10px 0 10px 10px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav ul li {
    margin: 0 2rem;
    font-size: 2.5rem;
  }
  .header__hamburguesa {
    display: none;
  }
  .menu-desplegado {
    display: none;
  }
}
main {
  background: linear-gradient(90deg, #282552 0%, #3a4e86 35%, #276b8a 100%);
}

h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.main__section__articulos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

footer {
  background: linear-gradient(90deg, #282552 0%, #3a4e86 35%, #276b8a 100%);
}

@media (min-width: 375px) and (max-width: 768px) {
  .footer__grid {
    display: grid;
    grid-template-columns: 25% 25% 45%;
    grid-template-rows: auto auto;
  }
  .footer__redes {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
  .footer__pagos {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }
  .footer__contacto {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
  }
  .footer__news {
    grid-column: 3;
    grid-row: 2;
    text-align: right;
  }
  .footer__input {
    width: 90%;
  }
  .footer__img__redes {
    width: 30px;
    height: 30px;
  }
  .footer__img__pagos {
    width: 40px;
    height: 20px;
  }
}
@media (min-width: 769px) {
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .footer__titulo {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
  }
  .footer__redes {
    grid-column: 1;
    text-align: center;
  }
  .footer__pagos {
    grid-column: 2;
    text-align: center;
  }
  .footer__contacto {
    grid-column: 3;
    text-align: center;
  }
  .footer__news {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
  }
  .footer__img__redes {
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  .footer__img__pagos {
    width: 80px;
    height: 40px;
    margin: 10px;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .main__section__articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0px 10px 0px 20px;
    padding: 10px;
  }
  .main__article img {
    width: 75%;
    height: 80%;
  }
  .main__article:hover {
    box-shadow: 5px 20px 20px;
    transition-duration: 200ms;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .main__section__articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    margin: 40px 10px 40px 40px;
    padding: 10px;
  }
  .main__article img {
    width: 75%;
    height: 80%;
  }
  .main__article:hover {
    box-shadow: 5px 20px 20px;
    transform: scale(1.1);
    transition-duration: 200ms;
    border-radius: 30px;
    background: linear-gradient(180deg, #282552 0%, #4f3a86 33%, #276b8a 100%);
  }
}
@media (min-width: 1024px) {
  .main__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: auto;
    margin: 40px 40px 40px 40px;
    padding: 10px;
  }
  .main__article img {
    width: 75%;
    height: 80%;
  }
  .main__article:hover {
    box-shadow: 5px 20px 20px;
    transform: scale(1.1);
    transition-duration: 200ms;
    border-radius: 30px;
    background: linear-gradient(180deg, #282552 0%, #4f3a86 33%, #276b8a 100%);
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .btn {
    background-color: #7460ac;
    border-radius: 10px;
    border-color: #000000;
    margin: 15px;
    padding: 5px;
  }
}
@media (min-width: 769px) {
  .btn {
    background-color: #7460ac;
    border-radius: 10px;
    border-color: #000000;
    margin: 15px;
    padding: 5px;
  }
  .btn:hover {
    background-color: #282552;
    box-shadow: 3px 2px 2px #7460ac;
    transition-duration: 300ms;
    color: #ffffff;
  }
}
.main__listas {
  list-style: disc;
  margin: 0 0 20px 30px;
}

main section iframe {
  width: 90%;
  height: 90%;
}

.main__input {
  width: 75%;
}
.main__input__motivo {
  width: 75%;
  height: 50px;
}

textarea {
  width: auto;
  height: auto;
  resize: none;
}

@media (min-width: 375px) and (max-width: 768px) {
  .main__section__productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0px 10px 20px 20px;
  }
  .main__producto img {
    border-radius: 40px;
  }
  .main__producto:hover {
    box-shadow: 5px 20px 20px;
    transition-duration: 200ms;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .main__section__productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    margin: 0px 10px 20px 20px;
  }
  .main__producto img {
    border-radius: 40px;
  }
  .main__producto:hover {
    box-shadow: 5px 20px 20px;
    transform: scale(1.1);
    transition-duration: 200ms;
    border-radius: 30px;
    background: linear-gradient(180deg, #282552 0%, #4f3a86 33%, #276b8a 100%);
  }
}
@media (min-width: 1024px) {
  .main__producto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__producto img {
    border-radius: 40px;
  }
  .main__producto:hover {
    box-shadow: 5px 20px 20px;
    transform: scale(1.1);
    transition-duration: 200ms;
    border-radius: 30px;
    background: linear-gradient(180deg, #282552 0%, #4f3a86 33%, #276b8a 100%);
  }
  .main__section__productos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 60px 20px 0px 20px;
    gap: 2rem;
  }
  .main__section__productos__buzos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px 10px 40px 10px;
    grid-column: 1;
    grid-row: 1;
  }
  .main__section__productos__buzos img {
    width: 75%;
    height: 80%;
  }
  .main__section__productos__remeras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px 10px 40px 10px;
    grid-column: 2;
    grid-row: 1;
  }
  .main__section__productos__remeras img {
    width: 75%;
    height: 80%;
  }
  .main__section__productos__tazas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px 10px 40px 10px;
    grid-column: 3;
    grid-row: 1;
  }
  .main__section__productos__tazas img {
    width: 75%;
    height: 80%;
  }
  .main__section__productos__fluo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px 10px 40px 10px;
    grid-column: 1;
    grid-row: 2;
  }
  .main__section__productos__fluo img {
    width: 75%;
    height: 80%;
  }
  .main__section__productos__jarritos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px 10px 40px 10px;
    grid-column: 2;
    grid-row: 2;
  }
  .main__section__productos__jarritos img {
    width: 75%;
    height: 80%;
  }
  .main__section__productos__botellas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px 10px 40px 10px;
    grid-column: 3;
    grid-row: 2;
  }
  .main__section__productos__botellas img {
    width: 75%;
    height: 80%;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .main__taza {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 10%;
    margin-top: 0%;
  }
  .main__taza button {
    margin-top: 15px;
    width: 100%;
    height: 30px;
  }
  .main__descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
  }
  .main__otros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 0 20px;
  }
  .main__otros article img {
    height: 500px;
  }
}
@media (min-width: 769px) {
  .main__taza {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0px 20px 50px 50px;
    margin-top: 0%;
  }
  .main__taza button {
    margin-top: 15px;
    width: 45%;
    height: 30px;
  }
  .main__descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px 0 40px;
  }
  .main__otros {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .main__acerca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0px 10px 0px 20px;
    padding: 10px;
  }
  .main__acerca:hover {
    box-shadow: 5px 20px 20px;
    transition-duration: 200ms;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .main__acerca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 40px 10px 40px 40px;
    padding: 10px;
  }
  .main__acerca:hover {
    box-shadow: 5px 20px 20px;
    transform: scale(1.1);
    transition-duration: 200ms;
    border-radius: 30px;
    background: linear-gradient(180deg, #282552 0%, #4f3a86 33%, #276b8a 100%);
  }
}
@media (min-width: 1024px) {
  .main__acerca {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    height: auto;
    margin: 40px 40px 40px 40px;
    padding: 10px;
  }
  .main__acerca:hover {
    box-shadow: 5px 20px 20px;
    transform: scale(1.1);
    transition-duration: 200ms;
    border-radius: 30px;
    background: linear-gradient(180deg, #282552 0%, #4f3a86 33%, #276b8a 100%);
  }
}

/*# sourceMappingURL=styles.css.map */
