// ==== Footer ==== //

footer {
    background-color: #656b7e;
}

@media (min-width: 320px) and (max-width: 768px) {

    .footer {
        &__grid {
            display: grid;
            grid-template-columns: 25% 25% 45%;
            grid-template-rows: auto auto;
        }

        &__redes {
            grid-column: 1;
            grid-row: 1;
            text-align: center;
        }

        &__pagos {
            grid-column: 2;
            grid-row: 1;
            text-align: center;
        }

        &__contacto {
            grid-column: 3;
            grid-row: 1;
            text-align: center;
        }

        &__news {
            grid-column: 3;
            grid-row: 2;
            text-align: right;
        }

        &__input {
            width: 90%;
        }

        &__img__redes {
            width: 30px;
            height: 30px;
        }

        &__img__pagos {
            width: 40px;
            height: 20px;
        }
    }

}

@media (min-width: 769px) {
    .footer {

        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
        }

        &__titulo {
            font-size: 1.25rem;
            color: black;
            display: flex;
            justify-content: center;
        }


        &__redes {
            grid-column: 1;
            text-align: center;
        }

        &__pagos {
            grid-column: 2;
            text-align: center;
        }

        &__contacto {
            grid-column: 3;
            text-align: center;
        }

        &__news {
            grid-column: 4;
            grid-row: 1;
            text-align: center;
        }

        &__img__redes {
            width: 60px;
            height: 60px;
            margin: 10px;
        }

        &__img__pagos {
            width: 80px;
            height: 40px;
            margin: 10px;
        }
    }

}