// ==== Header ==== //

header {
    background: $bgcolor;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

@media (min-width: 320px) and (max-width: 768px) {

    header {

        div img {
            display: none;
        }

        nav {
            display: none;
        }

        form {
            display: none;
        }

        label {
            position: absolute;
            right: 15px;
        }
    }

    .navbar {
        padding: 0;
    }

    .header__hamburguesa {
        position: fixed;
        top: auto;
        right: 60px;
        filter: drop-shadow(4px 4px 2px #282552);
    }

    .menu-desplegado {
        transition: 1s;
    }


}

@media (min-width:769px) and (max-width:1023px) {
    header {

        div img {
            width: 120px;
            height: 100px;
        }

        label {
            display: none;
        }
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
            margin: 0 1rem;
            font-size: 1.7rem;
        }
    }

    .header__hamburguesa {
        display: none;
    }

    .menu-desplegado {
        display: none;
    }
}


@media (min-width: 1024px) and (max-width: 1200px) {

    header {

        div img {
            width: 120px;
            height: 100px;
        }

        label {
            display: none;
        }

        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: center;

            li {
                margin: 0 2rem;
                font-size: 2.2rem;
            }
        }

    }

    .header__hamburguesa {
        display: none;
    }

    .menu-desplegado {
        display: none;
    }
}

@media (min-width: 1201px) {
    header {

        div img {
            width: 120px;
            height: 100px;
        }

        label {
            display: none;
        }
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
            margin: 0 2rem;
            font-size: 2.5rem;
        }
    }

    .header__hamburguesa {
        display: none;
    }

    .menu-desplegado {
        display: none;
    }
}