@media (min-width: 320px) and (max-width: 768px) {

    .main {
        &__section__articulos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            height: auto;
            margin: 0px 10px 0px 20px;
            overflow: hidden;

            img {
                width: 75%;
                height: 80%;
            }

            button {
                margin: 15px;
                padding: 5px;
            }

            &:hover {
                box-shadow: 5px 20px 20px;
                transition-duration: 200ms;
            }
        }
    }
}

@media (min-width:769px) and (max-width:1023px) {

    .main {

        &__section__articulos {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            height: 450px;
            margin: 40px 10px 40px 40px;
            overflow: hidden;

            img {
                width: 75%;
                height: 80%;
            }

            button {
                margin: 15px;
                padding: 5px;
            }

            &:hover {
                box-shadow: 5px 20px 20px;
                transform: scale(1.1);
                transition-duration: 200ms;
                border-radius: 30px ;
                background: $bordercolor;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {

    .main__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        height: 400px;
        margin: 40px 40px 40px 40px;
        overflow: hidden;

        img {
            width: 75%;
            height: 80%;
        }

        button {
            margin: 15px;
            padding: 5px;
        }

        &:hover {
            box-shadow: 5px 20px 20px;
            transform: scale(1.1);
            transition-duration: 200ms;
            border-radius: 30px ;
            background: $bordercolor;
        }
    }
}

@media (min-width: 1201px) {

    .main__article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        height: 550px;
        margin: 40px 40px 40px 40px;
        overflow: hidden;

        img {
            width: 75%;
            height: 80%;
        }

        button {
            margin: 15px;
            padding: 5px;
        }

        &:hover {
            box-shadow: 5px 20px 20px;
            transition-duration: 200ms;
            transform: scale(1.1);
            border-radius: 30px ;
            background: $bordercolor;
        }
    }
}